<div>
    <h2>Welcome, {{ userInfo.first_name }}!</h2>
    <div class="column-flex">
        <div class="row-flex">
            <a>Open Tickets</a>
            <a>Closed Tickets</a>
            <a>Create Ticket</a>
        </div>
    </div>
</div>