<form class="ticket-info">
    <div>
        <label for="problem-title">Title of Problem:</label>
        <input type="text" id="ticket-title"/>
    </div>
    <div>
        <label for="contact-name">Contact Name:</label>
        <input type="text" id="ticket-name"/>
    </div>
    <div>
        <label>Date Created</label>
        <input />
    </div>
    <div>
        <label for="user-assigned">Assigned To:</label>
        <input type="text" id="user-assigned" />
    </div>
    <div>
        <label for="building-number">Building:</label>
        <input type="text" id="building"/>
    </div>
    <div>
        <label for="room-number">Room Number:</label>
        <input type="text" id="room-number" />
    </div>
    <div>
        <label>Summary of Problem</label>
        <textarea name="problem-summary"></textarea>
    </div>
    <br>
    <div>
        <button type="submit">Create Ticket</button>
    </div>

</form>
