<form class="ticket-info">
    <h2>Ticket Information</h2>
    <div>
        <label for="problem_title"><h3>Title of Problem:</h3></label>
        <input type="text" id="problem_title"/>
    </div>
    <div>
        <label for="building"><h3>Building:</h3></label>
        <input type="text" id="building"/>
    </div>
    <div>
        <label for="room_number"><h3>Room Number:</h3></label>
        <input type="number" id="room_number" />
    </div>
    <div>
        <label for="problem_summary"><h3>Summary of Problem:</h3></label>
        <textarea name="problem_summary" id="problem_summary"></textarea>
    </div>
    <br>
    <div>
        <button type="submit">Create Ticket</button>
    </div>
    <input type="hidden" id="user_id" value="{{ user_id }}" />
    <div id="alert_div"></div>
</form>


<script src="/javascript/ticket.js"></script>
