<div>
    <form id="sign-in" class="site-form column-flex">
        <h2>Sign In</h2>
        <div class="column-flex">
            <label for="username1" class="form-label">Email Address</label>
            <input type="text" name="username1" id="username1" class="form-input" />
        </div>
        <div class="column-flex">
            <label for="password1" class="form-label">Password</label>
            <input type="password" name="password1" id="password1" class="form-input" />
        </div>
        <div class="column-flex">
            <button type="submit">Sign In!</button>
        </div>
    </form>
</div>
<div>
    <form id="register" class="site-form column-flex">
        <h2>Register</h2>
        <div class="column-flex">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-input" />
        </div>
        <div class="column-flex">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-input" />
        </div>
        <div class="column-flex">
            <label for="email" class="form-label">Email Address</label>
            <input type="text" name="email" id="email" class="form-input" />
        </div>
        <div class="column-flex">
            <label for="password2" class="form-label">Password</label>
            <input type="password" name="password2" id="password2" class="form-input" />
        </div>
        <div class="column-flex">
            <button type="submit">Register!</button>
        </div>
    </form>
</div>
<script src="/javascript/handle-login.js"></script>