<form class="account-form">
    <div class="card">
        <div>
            <label for="username-signup">First Name:</label>
            <input type="text" id="account-name" />
        </div>
        <label for="username-signup">Last Name:</label>
        <input type="text" id="account-name" />

        <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="account-email" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="account-password" />
        </div>
        <div>
            <button type="submit">Create Account</button>
        </div>
    </div>
</form>