<section>
    <div class="card-a">
        <section class="left-side">
            <div>
                <h6>Title of Problem:</h6>
            </div>
            <div>
                <h6>Contact Name:</h6>
            </div>
            <div>
                <h6> Date Created:</h6>
            </div>
            <div>
                <h6>Assigned To:</h6>
            </div>
            <div>
                <h6>Building:</h6>
            </div>
            <div>
                <h6>Room Number:</h6>
            </div>
        </section>

        <section class="right-side">
            <div>
                <h6>Summary of Problem:</h6>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div>
                <h6>Tech Notes:</h6>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                </p>
            </div>
        </section>
    </div>
</section>



{{!-- <div class="card">
    <div class="row">
        <div class="col bottom">
            Contact Name:

        </div>
        <div class="col bottom">
            Date Created:
        </div>
        <div class="col bottom">
            Assigned To:
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="left"><span class="border-left border-bottom"> Building:</span></div>
            <div class="left">Room Number:</div>
            <div class="left">Title of Problem:</div>
        </div>
        <div class="col-8">
            Summary of Problem:
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate commodi saepe
                culpa sed itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet quis
                repellat!
            </p>


        </div>

        <div class="left">

            <div>Tech Notes:
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate commodi
                    saepe culpa sed itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit
                    amet quis repellat!
                </p>
            </div>
        </div>

        </article> --}}