<form>

    <section>

        <div class="top">
            <h4>Ticket Status:</h4>
            <h4>Ticket Number:</h4>
            <button type="submit" value="false">Close Ticket</button>
            <button type="submit">Edit Ticket</button>
        </div>


        <div class="card-a">
            <nav class="title">
            </nav>


            <section class="left-side">
                <div class="titles">
                    <h6>Title of Problem:</h6>
                </div>
                <div class="titles">
                    <h6>Contact Name:</h6>
                </div>
                <div class="titles">
                    <h6> Date Created:</h6>
                </div>
                <div class="titles">
                    <h6>Assigned To:</h6>
                </div>
                <div class="titles">
                    <h6>Building:</h6>
                </div>
                <div class="titles">
                    <h6>Room Number:</h6>
                </div>
            </section>

            <section class="right-side">
                <div>
                    <h6 class="titles">Summary of Problem:</h6>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>

            </section>
        </div>
        <section>
            <form class="notes-form">
                <h6 class="titles">Notes:</h6>
                <div>
                    <textarea name="notes-body"></textarea>
                </div>

                <div>
                    <button type="submit">Add Notes</button>
                </div>
            </form>
        </section>
    </section>

</form>