* {
    box-sizing: border-box;
  }

  :root {
    --first-color: #353535; /**/
    --second-color: #3C6E71; /**/
    --third-color: #FFFFFF; /**/
    --fourth-color: #D9D9D9; /**/
    --fifth-color: #284B63; /* #225ca3 */
    --sixth-color: #a8dadc; /* #3486eb */
    --seventh-color: #8d99ae; /**/

  }
/* 
 button 
 color:#225ca3;
 hover color: #3486eb;
 background-color: #225ca3;
 background-color: #3486eb;

 textarea
 border:  #ccc
 border: 1px solid #3486eb;

 header /footer
 border-bottom: 1px solid #ccc;

 title
 background-color: #225ca3;

 btn
 color: #225ca3;
 color: #3486eb;
 
 notes background
 background-color: #fff5eb;
 */



  
  body, html {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-color: var(--seventh-color);
  }
  
  input {
    margin-bottom: 2%;
  }

  a {
    text-decoration: none;
    color:var(--fifth-color);
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: var(--sixth-color);
  }
  
  button {
    background-color: var(--fifth-color);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: var(--sixth-color);
    color:rgb(0, 0, 0)
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid var(--sixth-color);
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
 
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 3%;
  }
  
  header h1 {
    font-size: 2.3em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }

  .flex-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .left-side {
    flex: 0 1 46%;
    flex-direction: column;
    font-family: sans-serif;
    padding-bottom:0mm;
  }
  /* .right-side {
      display: flex;
      flex: 0 1 46%;
      flex-direction: column;
      font-family: sans-serif;
  } */

  .titles {
    font-family: sans-serif;
    font-size: 2.5ch;
  }

  .title {
    background-color: var(--fifth-color);
    color: azure;
    width: 6mm;
  }

  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--fifth-color);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: var(--sixth-color);
  }
  
  /* .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  } */
  
  
  .tech-notes {
    margin-bottom: 5%;
  }
  
  .account-form {
   margin-bottom: 2%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  .note-form {
    margin-bottom: 5%;
  }
  
  .note {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .note:nth-child(odd) {
    background-color: #fff5eb;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .note .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }

  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .isTech{
    background-color: #995CA3;
  }

  .isTech:hover {
    background-color: #daa6e2;
    color: rgb(0, 0, 0);
  }


  @media screen and (max-width: 600px) {
    .flex-row {
      flex-direction: column;
    }

  }